.body_for_register {
    background: url(../static/img/pexels-pixabay-531880.jpg) no-repeat center center fixed;
    background-size: cover;
    
   
    border: 1px solid rgb(64, 5, 122);
}
.inner-box{
    border-radius: 10px;
    background-color:rgb(39, 33, 26);
    opacity: 0.80 ;
    box-shadow: white;
    
    
    
}
.post_title:link{
    text-decoration: none;
    color: rgb(105, 126, 30);
    
}
.post_title:visited{
    color: rgb(105, 126, 30);
}
.post_title:hover{
    color: rgb(133, 94, 50);
}

.tell-users-why{
    color: rgb(141, 140, 184);
    font-size: 24px;
}
.box{
    padding:0 ;
    margin: 0 auto;
    
    
  
}
.outer-box{
    margin-top: 100px;
    
}

.input1{
    height: 65px;
    font-size: 20px;
    margin-bottom: 5px;
   
}
.input2{
    height: 65px;
    margin-bottom: 5px;
    font-size: 20px;
    
}
.input3{
    height: 65px;
    margin-bottom: 5px;
    font-size: 20px;
    
}
.form-group{
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.forget-password{
    margin-bottom: 20px;
    color:rgb(168, 162, 224);
}
.login-button{
    height: 50px;
    width: 115px;
    font-size: 24px;
}
.login_p{
    margin-top: -80px;
    margin-bottom: 35px;
    box-shadow: #59697e;
    opacity: 0.99;
    height: 175px;
    width: 175px;
}


.SignUp-button{
    margin-bottom: 2px;
    height: 50px;
    width: 130px;
    font-size: 24px;
}
.sine_up{
    margin-bottom: 6px;
    border:rgb(219, 219, 230) fixed 2px;
}

.icon-for-signup{
    margin-right: 5px;
}

.need_account{
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}
.check_button_label{
    color: white;
    margin-left: 5px;
    margin-bottom: 10px;
}
.right-links{
    margin-right: 160px;
}
.left-link{
    margin-left: 50px;
}
.container{
    height: 500px;
}
.card {
    margin-top: 100px;
    background: none repeat scroll 0 0 #f8f7f7;
    border-radius: 8px;
    padding: 0px;
}
.backgd img{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
.profile img{
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%;
    margin: -80px auto 0;
    box-shadow: rgb(168, 162, 224);
    
}
.card-body h2{
    text-align: center;
}

.upload{
    margin-top: 40px;
}
.upload-button{
    font-size: 20px;
    margin-top: 15px;
    width: 100px;
}
body{
    background-color: white;
    font-family: sans-serif;
    
}

.post_content {
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    background-color: cornsilk;
    border-radius: 10px;
}

.headlines{
    color: blue;
}
.date_post{
    color: rgb(4, 105, 105);
}

.post_title{
    font-size: 24px;
}
.post_box{
    background:url(../static/img2/hasas8.png) no-repeat ;
    background-size: cover;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.1);
    border-radius: 20px;
    border-bottom:solid 1px rgba(198, 199, 133, 0.63);
    
    transition: all 1s;
   
    
}
.post_box:hover{
    transform: scale(1.01);
}
.post_con{
    padding-right: 0px;
    padding-left: 0px;
    text-align: justify;
    margin-left: 0px;
    transform: translateX(-35px);
}
.side_profile{
    width: 70px;
    height: 70px;
   

}
.author_name:link{
    font-size: 20px;
    text-decoration: none;
    color:rgb(15, 173, 160);
}
.author_name:visited{
    color:rgb(15, 173, 160);
}
.author_name:hover{
    color:rgb(133, 94, 50)
}

.border_pox{
    padding-left: 0px;
    
    margin-right: 0px;
}

.wrapper{
    
    display: flex;
    min-height: calc(100vh - 56px);
    font-size: 1.5rem;
    
}
.side_bar {
    flex: 2;
    
    background-color:  blanchedalmond;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.1);
}
.main_bar{
    flex: 8;
    overflow-y: scroll;
    padding: 0.5rem 1rem 3rem ;
    
}
.admin_image{
    background-color: blanchedalmond;
    border-bottom: 1px solid black;
}
.side_bar img {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
   
    
}
.side_bar span{
    margin-left: 8px;
}
.side_bar ul{
    padding-left: 0px;
    font-weight:600;
   
}
.side_bar li {
    list-style: none;
    border-bottom: black 1px solid;
    margin-left: 0px;
    padding: 10px;

   
}

.side_bar li:hover {
    
    background-color:  rgb(221, 175, 105); 
}

.appear{
    display: none;
}
.to_be_displayed{
    position: absolute;
    top: 200px;
    left: 40px;
    z-index: 10;
}


.thumbs_up_input{
    font-size: 18px;
    border: none;
    border-radius: 50%;
    background: none;
    color: #0c7014;
    pointer-events: none;
    width: 38px;
}
.thumbs_down_input{
    font-size: 18px;
    border: none;
    background: none;
    color: #be5916;
    pointer-events: none;
    width: 38px;
}
.like_and_dislike_box{
     transform: translateX(-35px);
    -webkit-transform: translateX(-35px);
    -ms-transform: translateX(-35px);
    -moz-transform: translateX(-35px);
    -o-transform: translateX(-35px);
    
  }
.like_button, .dislike_button{
    cursor: pointer;
}
.like_button:active, .dislike_button:active{
    color: #004eff;
    transform: scale(1.1);
}
@media screen and (max-width: 480px) {
    .h_post_title {
      transform: translateX(-35px);
    }
    
  }

@media screen and (min-width: 480px) {
    .body_for_register{
        width: 100vw;
        height: 100vh;
    }
}
@media screen and (max-width: 325px) {
    .like_button, .dislike_button{
        padding-left: 2px;
        padding-right: 2px;
        font-size: 12px;
        
    }
}