<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0"
        nonce="s4paSWPW"></script>
    <title>Meley Blog - {{ title }}</title>
</head>

<body >

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#ecf0f1;">
      
        <a class="navbar-brand " href="#">Meley</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item ">
                    <a class="nav-link" href="{{ url_for('index') }}">Home </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('post_content') }}">Create New Post</a>
                </li>
                
                {% if current_user.username=="weldat"%}
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('admin_user') }}">admin</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav right-links">
                {% if current_user.is_authenticated %}
                
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('user_account') }}">Account</a>
                </li>
               
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('upload') }}">Upload Your Profile</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('signout') }}">Sign out</a>
                </li>
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link " href="{{ url_for('signup') }}">Register </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signin') }}">Sign in</a>
                </li>
              {% endif %}
                
            </ul>

        </div>
      
    </nav>

    <div class="col-12">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for notification, message in messages %}
            <div class="alert alert-{{ notification}} text-center mt-3">
              {{ message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      
    </div>
    <div class="body">
      {% block content %}
        
      {% endblock %}
    </div>
    
  



    


    <script src=" https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    
    <script src="../static/scrp.js" charset="utf-8"></script>
   
</body>

</html>