{% extends "base.html" %}
{% block content %}

<div class="card container">
    <h5 class="card-header">Forgot Password</h5>
    <div class="card-body">
      <h5 class="card-title">Please enter your email address and we will send a password reset link to your email </h5>
      <p class="card-text">Email</p>
      {{ forgot_form.email(class="form-control input1 mb-3", placeholder="Enter Your Email") }}
                        {% for error in forgot_form.email.errors %}
                             <span class="tell-users-why">[{{ error }}]</span>
                         {% endfor %} 
      <a href="#" class="btn btn-primary ">Reset Password</a>
    </div>
  </div>

{% endblock content %}